.allprodd {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
    position: relative;
    top: 800px;
    right: -100px;
  }
  
  .product-container {
    width: 270px;
    height: 322px;
    margin: 10px; 
    overflow: hidden; 
    position: relative;
    top: -150px;
  }
  
  .product-image {
    position: relative;
  }
  
  .product-image img {
    width: 100%;
    height: 250px;
    object-fit: cover; 
  }
  
  .buy-button {
    display: none;
    
  }
  .product-container:hover .buy-button{
    display: block;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 41px;
    background-color: #000000;
    color: #fff;
    border: none;
   }
  .product-details {
    padding: 10px;
  }
  
  .product-name {
    font-weight: bold;
    position: relative;
    top: -800px;
  }
  
  .product-price {
    color: #ff0000;
    position: relative;
    top: -800px;
  }
  .sales-ticket {
    position: absolute;
    background-color: red; 
    color: white; 
    padding: 5px; 
    border-radius: 5px; 
    font-size: 12px; 
    z-index: 1; 
    margin-top: 5px;
    margin-left: 5px;
  }

  .show{
position: relative;
top: -1670px;
right: -160px;
font-family: lato,sans-serif;
font-weight: bold;
font-size: 1em;
letter-spacing: 0.1em;
text-decoration: none;
color: #ffffff;
display: inline-block;
padding: 10px 40px 10px 40px;
position: relative;
background-color: #b82d2d;
border: 3px solid #ffffff;
border-radius: 20px;
    cursor: pointer;

  }

  .showw{
    position: relative;
    top: -1670px;
    right: -200px;
    font-family: lato,sans-serif;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #ffffff;
    background-color: #b82d2d;
    display: inline-block;
    padding: 10px 40px 10px 40px;
    position: relative;
    border: 3px solid #ffffff;
    border-radius: 20px;
    cursor: pointer;
      }

      