.cart {
     width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
    width:950px;
  }
  .caart {
    flex: 1;
    text-align: center;
    margin-top:10px;
    background-color: #c57171;
    color:white;
    padding: 6px;
    font-size: 20px;
  }
  

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 7px;
  }
  
  .titles {
    flex: 1;
    text-align: center;
  }
  .titles:hover {
    transform: scale(1.1);
    color: #dc47ad;

  }
  
  .sth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
   
  }

  .sth:hover {
    transform: scale(1.1);

  }
  
  .image {
   
    max-height: 100px; 
  }
  
  #options {
    width: 100px;
  height: 30px }


  @import url("https://fonts.googleapis.com/css?family=Raleway:400");
  
  @property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
  }
  
  @property --gradX {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: true;
  }
  
  @property --gradY {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
  }
  
  
  :root {
    --d: 2500ms;
    --angle: 90deg;
    --gradX: 100%;
    --gradY: 50%;
    --c1: rgb(193, 51, 103);
    --c2: rgba(16, 165, 198, 0.1);
  }
  
  .wrapper {
    width: 550px;
    height: 250px;
  }
  
  .box { 
    display: flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;;
    border: 0.35rem solid;
    padding: 3vw;
    border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
    animation: borderRotate var(--d) linear infinite forwards;
    margin: 0.5rem;
    line-height: 1;
    height: 500px;
    background-color: rgba(255, 255, 255, .5);
  }
  
  .box:nth-child(2) {
    border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
    animation: borderRadial var(--d) linear infinite forwards;
  }
  
  @keyframes borderRotate {
    100% {
      --angle: 420deg;
    }
  }
  
  @keyframes borderRadial {
    20% {
      --gradX: 100%;
      --gradY: 50%;
    }
    40% {
      --gradX: 100%;
      --gradY: 100%;
    }
    60% {
      --gradX: 50%;
      --gradY: 100%;
    }
    80% {
      --gradX: 0%;
      --gradY: 50%;
    }
    100% {
      --gradX: 50%;
      --gradY: 0%;
    }
  }

  .flexy{display:flex}
  .vl {
    margin-left: 50px;
    border-left: 1px solid rgb(23, 28, 23);
    height: 650px;
    
  }
  .left{
    text-align: start;
  }
  .right{
    text-align: end;
  }
  .but {
    width: 130px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.but:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.but:active {
  color: #000
}

.but:active:after {
  background: transparent;
}

.but:hover:before {
  opacity: 1;
}

.but:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
.center{
  text-align: center;
  font-size: 2vw;
}
.inp{
  height: 30px;
  width: 200px;
}
.title
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 30px;
      margin-left: 120px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}