
.bigFlex {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    background-color: white;
    padding: 20px;
  }
.link1{
  color:#ae1313
  
}
.link2{
  color:#111
}
  .menu {
    flex: 1;
    width: 150px;
    border-right: #333;
  }
  .gras:hover{
    color: rgb(142, 70, 70);
    cursor: pointer;
  }
  .notGras:hover{
    color: rgb(142, 70, 70);
    cursor: pointer;
    margin-left: 10px;
  }

  .menu h2 {
    font-weight: bold;
    font-size:20px
  }

  .menu h3 {
    margin-top: 0;
    font-weight: normal;
  }

  .user-flex {
    flex: 1;
  }

  .flex1 {
    margin-top: 20px;
  }

  .user h3 {
    font-weight: bold;
    font-size:15px
  }

  .user-flex1 {
    display: flex;
    justify-content: space-between;
    flex: 1 1 100px;
  }

 
.bigFlex{
    display: flex;
    flex-wrap: wrap;
}
.user-flex {
  display: flex;
    border: solid #333;
    border-radius: 8px;
    padding: 20px;
    width: 900px;
    height: 800px;
    flex-direction: column;
    align-items: stretch;
    background-color: white;
    margin-right:300px
  }
  .two{
    margin-left:150px;
  }
  .but {
    margin-top :50px;
    margin-left: 210px;
    width: 130px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.but:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.but:active {
  color: #000
}

.but:active:after {
  background: transparent;
}

.but:hover:before {
  opacity: 1;
}

.but:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
.user{
  color: rgb(133, 59, 59);
  text-align: center;
  font-size:25px
}

.inputUser {
  background-color: transparent;
  border: 1.5px solid #c14b53;
  width: 200px;
  height: 25px;
  border-radius: 20px;
}
.inputUser1 {
  background-color: transparent;
  border: 1.5px solid #c14b53;
  width: 550px;
  height: 25px;
  border-radius: 20px;
}