      #appStoreee {
        position: relative;
        top: 2850px;
        right: -100px;
      }


      #appStoreeeee {
        position: relative;
        top: 800px;
        width: 100%;
      }


      #ads {
        position: relative;
        top: -900px;
        right: -150px;
      }

      #Best{
position: relative;
top: -3200px;

      }