.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid #ccc;
  }
  .logo-login img{
    width: 70px;
  
  }
  
  .logo {
    height: 50px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
  }

  .search-input {
    position: absolute;
    top: 60px;
    right: 250px;
    width: 240px;
    height: 27px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: rgb(180, 175, 175);
    color:white
  }

  .search-button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 20px;
    position: absolute;
    right: 245px;
    top:58px
  }
  .nav-links {
    display: flex;
  }
  
  .nav-link {
    color: rgb(71, 10, 83);
    text-decoration: none;
    padding: 10px;
  }
  
  .active-link {
    border-bottom: 2px solid white;
  }
  .navcartt{
  position: absolute;
  width: 70px;
  height: 70px;
  right: 90px;
  top:0px;


  }

  .logo{
    width: 40%;
height: inherit;
background: transparent;

  }
  