.alldetails{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}
.image-container {
    display: flex;
    gap: 16px; 
    flex-direction: column;
   
  }
  
  .hover-image {
    width: 170px;
    height: 138px;
    object-fit: cover;
    position: relative;
    top: -4300px;
    left: -80px;
  }
  
  .display-image {
    width: 500px;
    height: 500px; 
    /* object-fit: cover; */
    position: relative;
    right: 400px;
  }
  .related{
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-top: 50px;
  }
  .product-info-container {
    width: 400px;
  }
  
  .productname {
    font-weight: bold;
    margin-bottom: 5px;
    position: relative;
    left: -350px;
  }
  
  .productrating {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .rating {
    color: gold;
  }
  
  .reviews,
  .in-stock,
  .separator {
    margin-left: 5px;
    position: relative;
    left: -230px;
    top: -6px;
  }
  
  .productprice {
    font-weight: bold;
    margin-bottom: 5px;
    position: relative;
    left: -350px;
  }
  
  .productdescription {
    max-width: 373px;
    overflow-wrap: break-word;
    margin-bottom: 5px;
    position: relative;
    left: -350px;
  }
  
  .bottomborder {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }
  .ddddd {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
   position: relative;
   top: 550px;
  }
  
  .product-container {
    width: 270px;
    height: 322px;
    margin: 10px; 
    overflow: hidden; 
    position: relative;
    top: -150px;
    box-sizing: border-box;
  }
  
  .product-image {
    position: relative;
  }
  
  .product-image img {
    width: 100%;
    height: 250px;
    object-fit: cover; 
  }
  
  .buy-button {
    display: none;
    
  }
  .product-container:hover .buy-button{
    display: block;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 41px;
    background-color: #000000;
    color: #fff;
    border: none;
   }
  .product-details {
    padding: 10px;
  }
  
  .product-namessssss {
    font-weight: bold;
    position: relative;
  }
  
  .product-priceeeessssss {
    color: #007bff;
  }