.allprod {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
  }
  
  .product-container {
    width: 270px;
    height: 322px;
    margin: 10px; 
    overflow: hidden; 
    position: relative;
    top: -750px;
  }
  
  .product-image {
    position: relative;
  }
  
  .product-image img {
    width: 100%;
    height: 250px;
    object-fit: cover; 
  }
  
  .buy-button {
    display: none;
    
  }
  .product-container:hover .buy-button{
    display: block;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 41px;
    background-color: #000000;
    color: #fff;
    border: none;
   }
  .product-details {
    padding: 10px;
  }
  
  .product-name {
    font-weight: bold;
  }
  
  .product-price {
    color: #ff0000;
  }
  .sales-ticket {
    position: absolute;
    background-color: red; /* Set the background color of the sales ticket */
    color: white; /* Set the text color of the sales ticket */
    padding: 5px; /* Adjust the padding as needed */
    border-radius: 5px; /* Add border-radius for rounded corners */
    font-size: 12px; /* Set the font size of the sales ticket */
    z-index: 1; /* Ensure the sales ticket is above the image */
    margin-top: 5px;
    margin-left: 5px;
  }