.bigFlex{
    display: flex;
    flex-wrap: wrap;
}
.gras{
    text-decoration: bold ;
    size: 20px;
}
.gras:hover{
    color:rgb(181, 5, 64)
}
.notGras{
    color: gray;
    size: 15px;
}
.notGras:hover{
    color:rgb(181, 5, 64)
}
.slider {
    max-width: 600px;
    position: relative;
    margin: auto;
  }

  #mySlides {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }

  #slider-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }

  #slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slide {
    width: 100%;
  }

  button {
    cursor: pointer;
  }