/* .container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
} */
.container{
  background-color: rgb(40, 39, 39);
}
.team-wrap {
  width: 450px;
  height: 600px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.team-member {
  width:350px; 
  height: 450px; 
  position: relative;
  overflow: hidden;
  border: 2px solid #fff; 
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity:0.5
}

.team-member:hover {
  transform: scale(1.1);
  opacity: 1;
  cursor:pointer
}

.team-img {
  position: relative;
}

 img {
  margin-top: 40px;
  margin-left:50px ;
  width: 250px;
  height: 250px;
}

.overlay {
  margin-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 500ps;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
}

.team-member:hover .overlay {
  opacity: 1;
  cursor:pointer
}

.team-details {
  color: #fff;
  text-align: center;
}

.team-title {
  font-size: 14px;
  margin-bottom: 5px;
  text-align: center;
  color:azure
}

.team-row #des {
  margin-top: 20px;
  display : flex;
  width: 200px;
  height: 200px;
}
.heading{
    display: flex;
    flex:1 1 1 1 auto;
    justify-content: space-between;
    margin-top: 20px;
}
.containerr{
  display: flex;
  /* justify-content: space-between; */
  width: 250px;
  height: 360px;

}
.team-row{
  display: flex;
  justify-content: space-between;
  width: 1520px;
  height: 650px;
  background-color: rgb(40, 39, 39);
}
.dis{
  color:white;
  text-align: center;
  margin-left: 120px;
}

#dess{margin-top: 60px;
  margin-bottom: 60px;
  height: 50px;
  text-align: center;
  background-color: rgb(40, 39, 39);
  color: white;
  font-weight: bold;
  margin-left:650px
}
.coll{
  margin-top: 70px;
  margin-left: 700px;
  display:flex;
  text-align: center;
  font-size: large;


}
#des {
  position: absolute;
  height: 50px;
  text-align: center;
  background-color: rgb(40, 39, 39);
  color: white;
  font-weight: bold;
  white-space: nowrap;
  -webkit-animation: rightThenLeft 4s linear;
}
@-webkit-keyframes rightThenLeft {
  0%   {left: 0%;}
  50%  {left: 100%;}
  100% {left: 0%;}
}
.team{
  margin-top: 80px;
}
